
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form action="Pagar" method="post">

            <label>Cantidad de articulos</label>
            <input type="text" name="cantidad" />

            <label>Valor del articulo</label>
            <input type="text" name="valor" />

            <input type="submit" value="Pagar" />

        </form>
    </div>
</body>
</html>
