
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pagar</title>
</head>
<body>
    <div> 
        La cantidad de su compra es @Model.cantidad unidades con un valor<br />
        de $@Model.valor por unidad obteniendo un subtotal de $@Model.subtotal<br/>
        con un descuento del @Model.descuento% quedando como total a pagar $@Model.total
    </div>
</body>
</html>
